body {
    background: #000;
}

.header .my-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    display: block;
    text-align: center;
}

.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header {
    display: block;
}

@media only screen and (min-width:550px) {
    .header .my-name {
        margin: 0;
        font-size: 100px
    }
}

h1 {
    margin: .67em 0;
    font-size: 2.5rem;
}

.my-college {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

@media only screen and (min-width:550px) {
    .my-college {
        font-size: 30px
    }
}
  
#particles-js {
    background: black;
    /* display: flex; */
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important;
}